@charset "UTF-8";

/*aplicando variaveis*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;

}

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "Android";
    src: url('../fontes/idroid.otf');
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(to right, green,blue,red);
    min-height: 150px;
    padding: 40px;

}

header h1{
    color: white ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
}

header p{
    color: white;
    text-align: center;
    font-size: 1.3em;

}

nav{
    background-color: #2fa866;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    

}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition-duration: 0.4s;
    padding: 20px;

}

nav a:hover{
    background-color: #83e1ad;
    transition-duration: .3s;

}
main{
   
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
}
main h1{
    color: var(--cor4);
    font-family: var(--fonte-padrao);

}
main h2{
    font-family: var;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350%;
    display: block;
    margin: auto;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    
    line-height: 1.5em; /* espaçamento entre linhas*/
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside ul{
    list-style: inside;
    columns: 2; /*colunas*/
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px;
    border-radius: 10px 10px 0 0 ; 
    text-align: center;
}


footer{
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
